<div class="relative antialiased bg-gray-200 h-screen w-screen dark:bg-gray-900 relative z-0">
   <app-navbar class="border-b border-gray-200 px-4 py-2.5 dark:bg-gray-800 dark:border-gray-700 fixed left-0 right-0 top-0 z-50"></app-navbar >
   <div class="flex w-screen fixed h-screen pt-14 left-0 right-0 z-40 ">
      <app-sidebar  class="lg:flex hidden h-full z-0 transition-transform -translate-x-full  border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700"
   aria-label="Sidenav"
   id="drawer-navigation">
   </app-sidebar>
   <div class="relative w-full h-full z-0">
      <router-outlet ></router-outlet>
   </div>
   
   </div>
   
   
   </div>
      
     